# Processar dados

descrever objetivo do notebook

##### Importar pacotes

In [ ]:
#! pip install pandas
from os import path, listdir
import pandas as pd

##### Configurações

In [ ]:

FIELDS = [
    {'name': 'ano', 'width': (0,4) },
    {'name': 'trimestre', 'width': (4,5) },
    {'name': 'uf', 'width': (5,7) },
    {'name': 'peso_calibrado', 'width': (57, 72) },
    {'name': 'sexo', 'width': (93,94) },
    {'name': 'idade', 'width': (102, 105) },
    {'name': 'cor', 'width': (105, 106) },
    {'name': 'escolaridade', 'width': (639,640) },
    {'name': 'anos_estudo', 'width': (640, 642) }
]

##### Leitura e transformação

Em fase de teste. Precisamos definir os campos de agregação já durante
a leitura para reduzir o tamanho do dataframe final.

In [ ]:
data_dir = path.join(path.abspath(".."), "dados")
files = [f for f in listdir(data_dir) if f.endswith('.txt')]

data = pd.DataFrame(None)
i = 1
for f in files: 
    print(f'Reading file {f}...')
    d = pd.read_fwf(
        path.join(data_dir, f), colspecs = [v.get('width') for v in FIELDS], 
        names = [v.get('name') for v in FIELDS]
        )
    print(f'Appending to dataset')
    data = pd.concat([data, d])
    i += 1

    # for test only
    if i > 4:
        break

Reading file PNADC_012014.txt...
Appending to dataset
Reading file PNADC_012015.txt...
Appending to dataset
Reading file PNADC_012012.txt...
Appending to dataset
Reading file PNADC_012013.txt...
Appending to dataset

In [11]:
data

,ano,trimestre,uf,peso_calibrado,sexo,idade,cor,escolaridade,anos_estudo
0,2014,1,11,933071600047453,1,602,7,0,0
1,2014,1,11,933071600047453,2,102,3,0,0
2,2014,1,11,933071600047453,4,800,5,0,0
3,2014,1,11,933071600047453,4,100,3,0,0
4,2014,1,11,458678600047453,1,505,9,0,0
...,...,...,...,...,...,...,...,...,...
564768,2013,1,53,796385100274884,1,3,2,0,0
564769,2013,1,53,796385100274884,5,400,8,0,0
564770,2013,1,53,796385100274884,5,600,6,0,0
564771,2013,1,53,773668400274884,1,203,0,0,0
564772,2013,1,53,773668400274884,2,902,3,0,0